  <h2 class='text-center text-white'>Contact Us by this</h2>
  <div class="fluid-container mt-5 text-white">
    <form >
   <div class="row ">
            <div class="col-md-3">
              <label for="fn" class="form-label pt-2 ps-2">First Name</label>
            </div>

            <div class="col-md-9">

                <div class="form-floating">
                 
                    <input type="text" name="firstname" id="fn" class="form-control" placeholder="Your name..">
                    <label for="fn" class="text-secondary">Your name..</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <label for="ln" class="form-label mt-4 ps-2">Last Name</label>
            </div>
         <div class="col-md-9">
               <div class="form-floating">                
                   <input type="text" name="lastname" id="ln" class="form-control mt-2" placeholder="Your last name..">
                    <label for="ln" class="text-secondary ">Your Last name..</label>
                </div>
            </div>
        </div>


       <div class="row">


        <div class="col-md-3">

            <label for="ci" class="form-label mt-4 ps-2">Cities</label>

          </div>

          <div class="col-md-9">

         <select name="City" id="ci" class="form-select p-3 mt-2">
            <option value="Hyd">Hyderabad</option>
            <option value="Bng">Banglore</option>
             <option value="Ko">Kolkata</option>
             <option value="Mu">Mumbai</option>
             <option value="ND">New Delhi</option>
            

         </select>


          </div>



           </div>



    <div class="row">

        <div class="col-md-3">

            <label for="sb" class="form-label mt-4 ps-2">Subject</label>

          </div>


          <div class="col-md-9">

            
             
                <textarea name="subject" id="sb" rows="13" class="form-control mt-2 pt-3" placeholder="write something.."></textarea>
                

            </div>

          </div>

    </form>



    <button class=" btn float-end mt-3 pt-2 pb-2 ps-3 pe-3 mb-2 text-white" style="background-color:rgb(1, 177, 1);">Submit</button>



    </div>


